{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="min-h-screen md:px-36 md:py-0 md:pb-4 px-8 py-8 bg-[white] select-none
                bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]
                flex flex-col md:flex-row items-center md:gap-x-16">

        <div class="w-full md:w-1/2 md:pr-0 text-center md:text-left">

            <div class="text-center md:text-left">
                <h1 class="text-left font-medium text-7xl md:text-8xl font-rubix bg-gradient-to-r from-[#833be7cb] to-[#5521c5] bg-clip-text text-transparent">Michael</h1>
                <h1 class="text-left md:pb-6 pt-2 md:pt-0 pb-7 leading-10 font-semibold text-6xl md:text-7xl font-rubix">Wieser</h1>
                <hr class="md:w-24 w-20 md:mb-0 mb-4 h-3 bg-gradient-to-r from-[#c580f0ed] to-[#c580f0c8]">
            </div>

            <div class="text-[rgb(15,23,42)] text-center md:text-left">
                <h1 class="text-left md:pt-8 text-2xl font-poppins font-normal">Ich bin ein angehender<span class="text-left md:pt-8 text-3xl font-semibold font-rubix"> Backend <br> Developer.</span></h1>
            </div>

            <div class="flex md:p-6 pt-4 space-x-2.5 w-full md:pt-8 md:pb-8 justify-center md:justify-start">
                <a class="pl-2 h-10 w-10 text-center border pt-2 rounded-md border-black hover:bg-[#c580f023] transition-all duration-500 active:bg-zinc-300" href="LINK_ZU_DEINEM_GITHUB"><i class="fab fa-github" style="font-size: 23px; line-height: 23px;"></i></a>
                <a class="pl-2 h-10 w-10 text-center border pt-2 rounded-md border-black hover:bg-[#c580f023] transition-all duration-500 active:bg-zinc-300" href="LINK_ZU_DEINEM_INSTAGRAM"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="23" width="23" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line></svg></a>
                <a class="pl-2 h-10 w-10 text-center border pt-2 rounded-md border-black hover:bg-[#c580f023] transition-all duration-500 active:bg-zinc-300" href="LINK_ZU_DEINEM_LINKEDIN"><svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="23" width="23" xmlns="http://www.w3.org/2000/svg"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect width="4" height="12" x="2" y="9"></rect><circle cx="4" cy="4" r="2"></circle></svg></a>
            </div>
        </div>

        <section class="w-full md:w-1/2 flex justify-center md:justify-start">
            <dotlottie-player
            src="https://lottie.host/184124f9-fb83-4f53-a4c2-ace9dcfcbd1f/hB6ZMjBNPB.lottie"
            background="transparent"
            speed="1"
            style="width: 600px; height: 600px"
            loop
            autoplay
            ></dotlottie-player>
        </section>

    </div>

{% endblock %}